.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.itemName{
    padding-left: 15px;
    color: gray;
    font-size: 15px;
    text-transform: capitalize;

}
